:root {
    --primary-color: #ffde00;
    --secondary-color: #3b4cca;
    --red: #cc0000;
}

* {
    box-sizing: border-box;
    margin: 0;
  }
  
  .header {
    height: 100px;
    background-color: #cc0000;
  }
  
  #pokeball {
    float: left;
    height: 100px;
    align-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .logo, .title {
    flex-direction: column;
    align-content: center;
  }

  .logo {
    margin-left: 30px;
    color: #ffde00;
    font-size: 50px;
  }

  .title {
    font-size: 20px;
    color: #000;
  }
  
  #pokedex-style {
    display: flex;
    color: #ffde00;
    background-color: #3b4cca;
    padding: 12px 16px;
    margin-top: 15px;
    max-width: 250px;
    font-weight: bold;
    border-radius: 50px;
  }